<mat-card [formGroup]="mainForm" class="main-form">
  <mat-card-title>Inscription</mat-card-title>
<!--  mat-card.form-card*5>mat-card-subtitle-->
  <mat-card class="form-card">
    <mat-card-subtitle>Informations personnelles</mat-card-subtitle>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-subtitle>Comment préférez-vous être contacté(e) ?</mat-card-subtitle>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-subtitle>Email</mat-card-subtitle>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-subtitle>Téléphone</mat-card-subtitle>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-subtitle>Informations de connexion</mat-card-subtitle>
  </mat-card>
  <mat-card-actions *ngIf="mainForm.valid">
    <button mat-flat-button color="primary" (click)="onSubmitForm()">ENREGISTRER</button>
  </mat-card-actions>
</mat-card>
